.wedding-container {
    text-align: center;
    padding: 2vh 15% 2vh 15%;
}

.icon-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  background-color: #F7F9F7;
  border-top: 1px solid #eee;
}

.icon-section h3{
  font-family: "Amatic SC", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: max(3.5vh, 18px);
    color: var(--main-light-blue);
}

.icon-section p{
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: max(1.3vw, 15px);
  color: var(--main-dark-grey);
}
.icon-link{

  width: 16%;
  aspect-ratio: 5/9;

}

.rsvplink{
  background-image: url("../../../public/Duck-icons/rsvp.png");
  width: 100%;
  aspect-ratio: 5/5;
  background-size: cover;
  background-position: center;
}
.dresscodelink{
  background-image: url("../../../public/Duck-icons/dress-code.png");
  width: 100%;
  aspect-ratio: 5/5;
  background-size: cover;
  background-position: center;
}
.schemelink{
  background-image: url("../../../public/Duck-icons/color-scheme.png");
  width: 100%;
  aspect-ratio: 5/5;
  background-size: cover;
  background-position: center;
}
.giftlink {
  background-image: url("../../../public/Duck-icons/gifts.png");
  width: 100%;
  aspect-ratio: 5/5;
  background-size: cover;
  background-position: center;
}
.requestslink{
  background-image: url("../../../public/Duck-icons/song-request.png");
  width: 100%;
  aspect-ratio: 5/5;
  background-size: cover;
  background-position: center;
}
  .rose-gold-title {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: max(1.3vw, 12px);
    color: var(--main-light-blue);
  }
  
  .story-text {
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: max(1.5vw, 15px);
    color: var(--main-dark-grey);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* ✅ Allows images to wrap on smaller screens */
  }
  
  .wedding-photo {
    width: 100%; /* ✅ Makes images scale dynamically */
    max-width: 320px; /* ✅ Prevents images from growing too large */
    height: auto;
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(183, 110, 121, 0.4);
  }

  iframe{
    width: 65%;
    height: max(50vh, 400px);
    border: none;
  } 

  .form-container {
  justify-content: center;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
  
}

  
  /* ✅ Adjust image sizes based on screen width */
  @media (max-width: 900px) {
    .image-gallery {
      flex-direction: column; /* ✅ Stack images vertically on small screens */
      align-items: center;
    }
  
    .wedding-photo {
      max-width: 80%; /* ✅ Make images bigger for mobile screens */
    }

    iframe{
    width: 55vw;
    height: max(30vh, 300px);
    border: none;
  } 
    .form-container {
      width: 65%;
  }
  .wedding-container {
    padding: 2vh 4vw 2vh 4vw;
}
.optional{
    display: none;
  }
  .icon-link{
  width: 30%;
  aspect-ratio: 5/10;

}

  }

@media (max-width: 650px) {
.icon-link{
  width: 70%;
  aspect-ratio: 5/8;

}

.icon-section {
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically within the container */
  align-items: center; /* Center items horizontally */
}
.icon-section h3{
    font-size: max(3.5vh, 30px);
}

.icon-section p{
  font-size: max(2vw, 25px);


}
  
}